<header class="h-[67px] md:h-[112px] max-w-[1110px] mx-auto">
  <nav class="flex justify-between items-center mx-6 h-full">
    <div class="flex items-center gap-4">
      <img
        class="md:hidden"
        src="../../assets/images/icon-menu.svg"
        alt="menu"
      />
      <h1 class="mr-3 text-3xl font-bold">sneakers</h1>

      <ul class="hidden md:inline-flex gap-8 text-gray-500">
        <li>
          <a href="#">Collections</a>
        </li>
        <li>
          <a href="#">Men</a>
        </li>
        <li>
          <a href="#">Women</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>

    <div class="inline-flex gap-[22px]">
      <button class="relative" (click)="ToggleCart()">
        <span
          class="absolute top-[-6px] md:top-1 text-xs text-white bg-orange-400 px-1.5 rounded-full"
          >{{ productCount }}</span
        >
        <img
          class="h-6 w-6"
          src="../../assets/images/icon-cart.svg"
          alt="cart"
        />
      </button>

      <img
        src="../../assets/images/image-avatar.png"
        class="h-6 w-6 md:h-[50px] md:w-[50px] hover:outline outline-orange-500 outline-2 transition-all rounded-full cursor-pointer"
        alt="avatar"
      />
    </div>
  </nav>
</header>
